@font-face {
	font-family: 'Gadugib';
	src: url('./fonts/gadugib.ttf'); /* IE9 Compat Modes */
}

@font-face {
	font-family: 'Gadugi';
	src: url('./fonts/gadugi.ttf'); /* IE9 Compat Modes */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gadugi';
  background: rgba(192,192,192,0.1);
}
