@tailwind base;

@tailwind components;

.btn-profile-gw {
  @apply relative inline-block;
}

.content-profile-gw {
  @apply hidden absolute right-0;
}

.btn-profile-gw:hover .content-profile-gw {
  @apply block;
}

.muncul:hover .muncul1 {
  @apply block;
}

.tooltip {
  @apply relative inline-block;
}

.tooltip-text {
  @apply invisible absolute z-20 border border-black truncate ml-2 px-5 rounded-lg overflow-visible;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  border-style: solid;
  left: -0.7rem;
  border-width: 5px;
  border-color: transparent black transparent transparent;
  margin-top: 7px;
}

.tooltip:hover .tooltip-text {
  @apply visible;
}

@tailwind utilities;